@import "tailwindcss";

@custom-variant dark (&:where([data-dark], [data-dark] *));

:root {
  --blue: #1E74FE;
  --purple: #4E5897;
  --green: #65C668;
  --orange: #FD6D51;
  --black: #14151A;
  --white: #FFFFFF;
  --darkGray: #D1D6DD;

  /*light theme*/
  --lightBg: #FFFFFF;
  --lightBg2: #F6F6F6;

  /*dark theme*/
  --darkBg: #1F1D2B;
  --darkBg2: #252734;
}

@theme inline {
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-black: var(--black);
  --color-white: var(--white);

  --font-roboto: var(--font-roboto);
  --font-inter: var(--font-inter);

  --breakpoint-xs: 0;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1400px;
  --breakpoint-xl: 1600px;
}

html { scroll-behavior: smooth; }

.container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.keen-slider {
  display: flex;
  overflow: hidden;
}

.keen-slider__slide {
  min-width: 100%;
  flex-shrink: 0;
}
