@import "tailwindcss";

:root {
  --blue: #1E74FE;
  --purple: #4E5897;
  --green: #28932C;
  --orange: #FD6D51;
  --black: #14151A;
  --white: #FFFFFF;

  /*light theme*/
  --light-bg: #FFFFFF;
  --second-light-bg: #F6F6F6;

  /*dark theme*/
  --dark-bg: #1F1D2B;
  --second-dark-bg: #252734;
}

@theme inline {
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-black: var(--black);
  --color-white: var(--white);

  --font-roboto: var(--font-roboto);
  --font-inter: var(--font-inter);

  --breakpoint-xs: 0;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1400px;
  --breakpoint-xl: 1600px;
}

.container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
